* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
}

body {
    /* width: 100%; */
    /* height: 100vh; */
    overflow-x: hidden;
    background-color: #1A1A19;
    color: white;
    display: flex;
}

.home-pic {
    height: 20%;
    width: 100px;
    border-radius: 60px;
}

.btn {
    background-color: transparent;
    border-weight: 10px;
    color: white;
}